# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environments
/venv/
/.venv/
/ENV/
/env/

# Ignore macOS specific files
.DS_Store

# Ignore local configurations
*.local
*.env

# Ignore test outputs
/debug_logs/
/tests/__pycache__/
/tests/*.pyc
/tests/
/test/
.pylintrc

# Ignore Git files
.git/
.gitignore
.git*

# Ignore Docker files
.dockerignore
docker-compose.yml
Dockerfile

# Ignore build directories
/build/
/dist/
/tmp/

# Ignore IDE specific files
/.vscode/

# Ignore any other sensitive or irrelevant files
/node_modules/
/secrets/
/uml/

# Except these files
!/secrets/tokens.yaml
!/secrets/cert.pem
!/secrets/key.pem
!/secrets/.mysql_root_password.txt
!/secrets/.mysql_user_password.txt
!/secrets/.testdb_root_password.txt
!/secrets/.testdb_user_password.txt